%section.post.comment[comment]
  %div.pull-left.user
    = render('users/user_face', user: comment.user)
  %div.media-body
    %div.content
      = render('content_markdown', model: comment)
    %div.pull-right.info
      %span.muted.created_at
        = comment.created_at
      %span.action
        %span.destroy
          = link_to(t('.delete'), comment_path(comment), method: :delete)
