%div.name
  = link_to user_path(user), rel: 'tooltip',
    data: { title: user.name,
      trigger: 'hover',
      placement: 'right',
    } do
    = image_tag(user.image, class: 'media-object face')
