.page-header
  %h1 このサイトについて
%ul
  %li 継続的なイベントが発生する小さなサークルやコミュニティをサポートするシステム
  %li Markdownでチャットが出来る
.page-header
  %h2 作っている人
  %h2
%ul.unstyled
  %li
    = link_to 'http://twitter.com/ppworks', rel: 'tooltip', :'data-title' => 'ppworks', :'data-placement' => 'bottom' do
      = image_tag 'https://si0.twimg.com/profile_images/344513261573332456/fb9f2de4e8299279fdd3825cdfc1900d.png', size: '50x50'
