TWITTER_APP_ID: 'a'
TWITTER_APP_SECRET: 'b'
FACEBOOK_APP_ID: ''
FACEBOOK_APP_SECRET: ''
FACEBOOK_ADMIN_UIDS: '1,2,3'
test:
  TEST_ASSET_HOST: ''
  # forman
  #TEST_ASSET_HOST: 'http://localhost:3000'
