- content_for(:body_class, 'posts')
- content_for(:group_id, @group.id.to_s)
%ul.media-list.posts
  - @posts.each do |post|
    %li.media= render('post', post: post)

.progress.progress-striped.active{:style => "display: none;"}
  .bar{:style => "width: 100%;"}
%ul.unstyled.member

= simple_form_for([@group, Post.new], html: {class: 'form-inline'}, remote: true) do |f|
  = f.input(:content, label: false, input_html: {class: 'span12 auto_clear'}, autocomplete: 'off')
  = f.submit(t('.submit'), class: 'btn btn-primary')
