$accent_color: #006f94;
$basic_color: #222222;

@mixin head_color {
  color: $accent_color;
}

h1 {
  @include head_color;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner
{
  border-color: $accent_color;
  border-width: 0 0 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar {
  .brand {
    @include head_color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
  }
}

.hidden {
  display: hidden;
}

body {
  >div.container-fluid {
    padding-bottom: 300px;
  }
  >footer {
    background-color: $accent_color;
    bottom: 0;
    color: #efefef;
    left: 0;
    padding: 20px 0 40px 0;
    position: fixed;
    text-align: center;
    width: 100%;
  }
}

ul.thumbnails {
  margin-top: 15px;
  >li {
    display: inline-block;
    vertical-align: top;
    &.span4:nth-child(3n + 1) {
      margin-left: 0;
    }
  }
}

.well p:last-child {
  margin-bottom: 0;
}

.label.owner {
  background-color: #b94a48;
}

.label.member {
  background-color: #468847;
}

.label.public {
  background-color: #468847;
}

.label.private {
  background-color: #333333;
}

td.member {
  ul > li {
    display: inline-block;
    margin-right: 3px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}

ul.sns {
  margin-left: 0;
  >li {
    display: inline-block;
    vertical-align: middle;
  }
}
