$accent_color: #006f94;
$basic_color: #222222;
$btn_color: #006f94;
$btn_hover_color: #00a8e0;
$btn_danger_color: #941100;
$btn_danger_hover_color: #e01a00;

@mixin head_color {
  color: $accent_color;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner
{
  border-color: $accent_color;
  border-width: 0 0 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar {
  .brand {
    @include head_color;
  }
}

.hidden {
  display: hidden;
}

body {
  >div.container-fluid {
    padding-bottom: 300px;
  }
  >footer {
    background-color: $accent_color;
    bottom: 0;
    color: #efefef;
    left: 0;
    padding: 10px 0 10px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    a, a:hover {
      color: #fff;
    }
    >ul.menu {
      display: inline-block;
      margin-left: 0;
      >li {
        display: inline-block;
        &:not(:last-child) {
          &:after {
            margin: 0 9px;
            content:'|';
          }
        }
      }
    }
  }
}

ul.thumbnails {
  margin-top: 15px;
  >li {
    display: inline-block;
    vertical-align: top;
    &.span4:nth-child(3n + 1) {
      margin-left: 0;
    }
  }
}

.well p:last-child {
  margin-bottom: 0;
}

.label.owner {
  background-color: #b94a48;
}

.label.member {
  background-color: #468847;
}

.label.public {
  background-color: #468847;
}

.label.private {
  background-color: #333333;
}

td.member {
  ul > li {
    display: inline-block;
    margin-right: 3px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}

ul.sns {
  margin-left: 0;
  >li {
    display: inline-block;
    vertical-align: middle;
  }
}

.content {
  h1 {
    font-size: 2.0em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.0em;
  }
  hr {
    border-color: #ddd;
  }
}

.hero-unit {
  background: transparent;
  h1 {
    color: $accent_color;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    &:before {
      content: url('/images/circleaf50x50.png');
      width: 50px;
      height: 50px;
    }
  }
}
body.top {
  background: #fff image-url('top_background.png') no-repeat bottom right fixed;
}

.btn-primary {
  background: $btn_color;
  &:hover {
    background: $btn_hover_color;
  }
}

.btn-danger {
  background: $btn_danger_color;
  &:hover {
    background: $btn_danger_hover_color;
  }
}
